<a href="https://colab.research.google.com/github/Naren8520/Python/blob/main/Resaltar_filas%2C_columnas_y_celdas_del_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nombre: Naren Castellon

Fecha: 04/14/2021

# **Resaltar filas, columnas y celdas del DataFrame**

Muchas veces hemos querido resaltar las filas, celdas y columnas que contiene algún tipo de dato para un análisis de datos en específico. Deseamos saber que celdas contienen el valor máximo en una fila o resaltar todas las `NaN` en mis datos, Pandas tiene un característica que aún está en desarrollo según la documentación de Pandas, de la cual me gustaría compartir con usted, quizás para algunos se de mucha importancia.

Se puede aplicar en forma condicional, el estilo visual de un DataFrame en función de los datos que contiene, mediante el uso de la función `DataFrame.style`. Esta es una función que devueleve un objeto `Styler`, que tiene métodos muy útiles para mostrar y formatear DataFrame.

El estilo se logra mediante `CSS`. Escribrimos "funciones de estilo" que toman escalares, DataFrame o Series, y devuelve como DataFrame indexados o series con pares CSS "atributo:valor" para los valores. Estas funciones pueden ir manera incremental al `Styler` que recopila muchos estilos antes de renderizar.

Iniciaremos con el siguiente ejemplo, en donde 

##  **Resaltaremos todas las filas en amarillo donde el valor de la columna B es mayor que 1**

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],axis=1)
df.iloc[0, 2] = np.nan

def highlight_greaterthan(s,column):
    is_max = pd.Series(data=False, index=s.index)
    is_max[column] = s.loc[column] >= 1
    return ['background-color: red' if is_max.any() else '' for v in is_max]

def highlight_greaterthan_1(s):
    if s.B > 1.0:
        return ['background-color: yellow']*5
    else:
        return ['background-color: white']*5
    
df.style.apply(highlight_greaterthan_1, axis=1)

## **Codifiquemos con color el texto que tenga valores inferiores a cero en una fila**

In [ ]:
def color_negative_red(val):
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

df.style.applymap(color_negative_red)

## **Resaltemos algunos valores o celdas en específicos**

En este caso ya no podemos usar la función `.applymap` que operaba con elementos. En su lugar, pasaremos a `.apply` que funciona en columna (o filas usando palabra clave del eje).

In [ ]:
import pandas as pd
import numpy as np

def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: pink' if v else '' for v in is_max]

df.style.apply(highlight_max, axis=0)

## **Resaltando todos los valores nulos (NaN) en mis datos**

In [ ]:
df.style.highlight_null(null_color='green')

## **Estilo de mapa de color**

La función `Styler.background_gradient` toma lo argumentos de la palabra clave bajo y altos. En términos generales, estos amplían el rango de sus datos en un porcentaje bajo y alto, de modo que cuando convertimos los colores, no se utiliza todo el rango del mapa de colores. Esto es muy útil para leer el texto aún.

In [ ]:
import seaborn as sns
cm = sns.light_palette("red", as_cmap=True)
df.style.background_gradient(cmap="viridis")

## **Styler.set_properties**

In [ ]:
df.style.set_properties(**{'background-color': 'black','color': 'lawngreen','border-color': 'white'})

## **Gráfico de barra en DataFrame**

In [ ]:
df.style.bar(subset=['A', 'B'], color='green')

## **Estilo de mesa**

In [ ]:
from IPython.display import HTML

def hover(hover_color="pink"):
    return dict(selector="tr:hover",
                props=[("background-color", "%s" % hover_color)])

styles = [
    hover(),
    dict(selector="th", props=[("font-size", "150%"),
                               ("text-align", "center")]),
    dict(selector="caption", props=[("caption-side", "bottom")])]

html = (df.style.set_table_styles(styles)
        .set_caption("Hover to highlight."))
html